CLICKHOUSE_HOST=
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=
CLICKHOUSE_PASS=
CLICKHOUSE_DATABASE=oracle_migration_hazem
CLICKHOUSE_ALLOW_CREATE_DATABASE=false

P5_QA_ORACLE_USER=
P5_QA_ORACLE_PASSWORD=
P5_QA_ORACLE_HOST=
P5_QA_ORACLE_PORT=1521
P5_QA_ORACLE_SERVICE_NAME=
P5_QA_ORACLE_DSN=

APP_HOST=0.0.0.0
APP_PORT=8000
MIGRATION_BATCH_SIZE=100000
MIGRATION_DEFAULT_WORKERS=8
